#controls {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    font-weight: 500;
}

#themetoggle {
	position: absolute;
	top: 0px;
	left: 15px;
	font-weight: 600;
	letter-spacing: 2px;
    cursor: pointer;
    z-index: 99;
}

#pagearrow {
    position: absolute;
    top: 90vh;
    left: 0px;
    width: 100vw;
    height: 50px;
    cursor: pointer;
    z-index: 99;
}
