body {
    font-family: Montserrat;
    z-index: 3;
    color: #000000;
    margin: 0px;q
    text-align: center;
}

header {
    /* position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 99;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px; */
    cursor: default;
    text-align: left;
    letter-spacing: 2px;
}

li.navmenuitem {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    cursor: inherit;
    list-style-type: none;
}

ul.navbar {
    padding-left: 16px;
    padding-right: 16px;
}

a.linku {
    color: #000000;
}