body {
    /* font-family: "Fixedsys Excelsior 3.01", "Overpass Mono", monospace; */
    font-weight: 500;
    z-index: 3;
    margin: 0px;
    text-align: center;
    display: block;
    cursor: default;
    overflow-y: visible;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all 2s cubic-bezier(0, 1, 0.700, 1);
}

.lighttheme {
    color: #333333;
    stroke: #333333;
    background-color: #EEEEEE;
    transition: all 2s cubic-bezier(0, 1, 0.700, 1);
}

.darktheme {
    color: #EEEEEE;
    stroke: #EEEEEE;
    background-color: #333333;
    transition: all 2s cubic-bezier(0, 1, 0.700, 1);
}

::selection {
    background-color: gray;
}


.bgdiv {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.centered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lefted {
    /* width: 75vw; */
    text-align: left;
    padding-left: 12.5vw;
    width: 75vw;
}

.testocentrale {
    display: block;
    text-align: left;
    padding: 50px;
    /* letter-spacing: 2px;*/
}

a {
    color: inherit;
}

.blinkingcursor {
    display: inline;
    animation: blinkingcursoranim 1s infinite;
}

@keyframes blinkingcursoranim {
    0%{opacity:1}
    50%{opacity:0}
}

@media (orientation: portrait) {
    .hideable-lines {
        display: none;
    }
    .links {
        display: block;
    }
}



/**
 * CENTRAL TEXT
 */

/* .nametext {
    font-size: 120px;
    font-weight: 500;
    margin: 0px;
}

.smalltext {
    font-size: 42px;
    font-weight: 500;
    margin: 0px;
}

.smallertext {
    font-size: 34px;
    font-weight: 500;
    margin: 0px;
    text-align: left;
} */

.nametext, .smalltext, .smallertext {
    margin: 0px;
    font-weight: 500;
}
.smallertext {
    display: inline;
}

@media (min-width: 768px) {
    .nametext {
        font-size: 124px;
    }
    .smalltext {
        font-size: 42px;
    }
    .smallertext {
        font-size: 34px;
    }
}

@media (max-width: 768px) and (min-width: 450px) {
    .nametext {
        font-size: 93px;
    }
    .smalltext {
        font-size: 30.7px;
    }
    .smallertext {
        font-size: 25.5px;
    }
}

@media (max-width: 560px) and (min-width: 320px) {
    .nametext {
        font-size: 62px;
    }
    .smalltext {
        font-size: 24px;
    }
    .smallertext {
        font-size: 24px;
    }
}

@media (max-width: 320px) {
    .nametext {
        font-size: 48px;
    }
    .smalltext {
        font-size: 21px;
    }
    .smallertext {
        font-size: 21px;
    }
}

/**
 * Controls
 */

#controls {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    font-weight: 500;
}

#themetoggle {
    position: absolute;
    top: 0px;
    left: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 99;
}

#pagearrow {
    position: absolute;
    top: 90vh;
    left: 0px;
    width: 100vw;
    height: 50px;
    cursor: pointer;
    z-index: 99;
}





/**
 * ARROW CSS
 */

/* body {
  background:#0b1d2a;
} */

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #333333;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {   
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
