/* .bgdiv::before {
	background-color: rgb(20, 20, 20);
	position: absolute;
    overflow: hidden;
    width : 110%;
    height: 110%;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    background: inherit;
    z-index: -1;
	content: "";
	background-image: url("wp.png");

	filter        : blur(3px);
    -moz-filter   : blur(5px);
    -webkit-filter: blur(3px);
    -o-filter     : blur(5px);

    position: absolute;
    
    z-index: -1;
} */

body {
	font-family: Montserrat;
	z-index: 3;
	color: #ffffff;
    margin: 0px;
    text-align: center;
}

::selection {
	background-color: gray;
}

::-webkit-scrollbar { 
    display: none; 
}

li.navmenuitem {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	cursor: inherit;
	list-style-type: none;
}

ul.navbar {
    padding-left: 16px;
    padding-right: 16px;
}

header {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 99;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
	cursor: default;
    text-align: left;
    letter-spacing: 2px;
}

.transparent {
    background-color: rgba(0,0,0,0);
    transition:.30s;
}

.semi {
    background-color: rgba(0,0,0,0.3);
    transition:.30s;
}

a.linku {
	color: #f2f2f2;
	text-decoration: none;
	transition:.30s;
	cursor: hand;
}

a.linku:hover {
	color: #595959;
	cursor: hand;
}

#pagetitle {
	text-transform: lowercase;
}

span.navmenu {
	font-weight: bold;
}

.navbar_divider {
    padding-left: 20px;
    padding-right: 20px;
}

.bgdiv {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
}

#top {
    background-image: url("assets/bg1.png");
}

#about {
    background-color: #FFFFFF;
    background-image: url("assets/forest.jpg");
}

#projects {
    background-color: #FFFFFF;
    background-image: url("assets/bg1.png");
    background-position: right top;
}
